# Python byte code & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
env/

# OS specific
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.tmp

# Release artifacts
*.zip
